.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

report/.quarto/
report/_book/
report/_report/
report/results/
*.css
*.csv
*.doc*
*.html
*.js
*.lnk
*.pdf
*.png
*.rds
*.sas7bdat
*.woff
*.xl*
*.xml
*.zip
